@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>ChatO es una IA con la que puedes hablar de lo que tu quieras cuando lo necesites.</p>
</main>