@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Quito, Ecuador<br />
        <abbr title="Teléfono">T:</abbr>
        992722525
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:silvioj.limongi@gmail.com">silvioj.limongi@gmail.com</a><br />
    </address>
</main>