@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="titleRepositorioGitHub">Repositorio GitHub</h1>
        <p class="lead">Repositorio online donde se encuentra el la aplicación.</p>
        <p><a href="https://github.com/silviojlimongi/ChatO.git" class="btn btn-primary btn-md" target = "_blank" rel="noopener noreferrer"> Link &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="titleManualDesarrollador">Manual de Desarrollador</h2>
            <p>
                Instrucciones precisas de como realizar modificaciones y actualizaciones en el codigo.
            </p>
            <p><a class="btn btn-outline-dark" target = "_blank" rel="noopener noreferrer" href="https://ister-my.sharepoint.com/:b:/g/personal/silvio_limongi_ister_edu_ec/Ea99e5ZFdHNKrDU-Bytg67IBjpsaj30STleUKqVxc-2agA?e=iqx7r0">Link &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="titleManualUsuario">Manual de Usuario</h2>
            <p>Instrucciones para que los usuarios puedan utilizar ChatO.</p>
            <p><a class="btn btn-outline-dark" target = "_blank" rel="noopener noreferrer" href="https://ister-my.sharepoint.com/:b:/g/personal/silvio_limongi_ister_edu_ec/EQITCGj79LNPnZ8Cvqtn6FEBMSdck31zuXZIp83KHLcw4w?e=3L79SN">Link &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="titleVideoChatO">Video sobre ChatO</h2>
            <p>Breve video de como funciona la App.</p>
            <p><a class="btn btn-outline-dark" target = "_blank" rel="noopener noreferrer" href="">Link &raquo;</a></p>
        </section>
    </div>
</main>